In [1]:
import pandas as py
import pickle

enron_data = pickle.load(open("D:/Github/MLWithPython/5_MiniProject_Enron/final_project/final_project_dataset.pkl", "br"))

C:\Users\Dell\Anaconda3\lib\site-packages\pandas\computation\__init__.py:19: UserWarning: The installed version of numexpr 2.4.4 is not supported in pandas and will be not be used

  UserWarning)

In [2]:
enron_df=py.DataFrame.from_dict(enron_data).T
print(len(enron_data))

146

In [3]:
print(enron_df.index)

Index(['ALLEN PHILLIP K', 'BADUM JAMES P', 'BANNANTINE JAMES M',
       'BAXTER JOHN C', 'BAY FRANKLIN R', 'BAZELIDES PHILIP J', 'BECK SALLY W',
       'BELDEN TIMOTHY N', 'BELFER ROBERT', 'BERBERIAN DAVID',
       ...
       'WASAFF GEORGE', 'WESTFAHL RICHARD K', 'WHALEY DAVID A',
       'WHALLEY LAWRENCE G', 'WHITE JR THOMAS E', 'WINOKUR JR. HERBERT S',
       'WODRASKA JOHN', 'WROBEL BRUCE', 'YEAGER F SCOTT', 'YEAP SOON'],
      dtype='object', length=146)

In [4]:
print(enron_df.columns)

Index(['bonus', 'deferral_payments', 'deferred_income', 'director_fees',
       'email_address', 'exercised_stock_options', 'expenses', 'from_messages',
       'from_poi_to_this_person', 'from_this_person_to_poi', 'loan_advances',
       'long_term_incentive', 'other', 'poi', 'restricted_stock',
       'restricted_stock_deferred', 'salary', 'shared_receipt_with_poi',
       'to_messages', 'total_payments', 'total_stock_value'],
      dtype='object')

In [5]:
enron_df.head()

,bonus,deferral_payments,deferred_income,director_fees,email_address,exercised_stock_options,expenses,from_messages,from_poi_to_this_person,from_this_person_to_poi,...,long_term_incentive,other,poi,restricted_stock,restricted_stock_deferred,salary,shared_receipt_with_poi,to_messages,total_payments,total_stock_value
ALLEN PHILLIP K,4175000,2869717,-3081055,NaN,phillip.allen@enron.com,1729541,13868,2195,47,65,...,304805,152,False,126027,-126027,201955,1407,2902,4484442,1729541
BADUM JAMES P,NaN,178980,NaN,NaN,NaN,257817,3486,NaN,NaN,NaN,...,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,182466,257817
BANNANTINE JAMES M,NaN,NaN,-5104,NaN,james.bannantine@enron.com,4046157,56301,29,39,0,...,NaN,864523,False,1757552,-560222,477,465,566,916197,5243487
BAXTER JOHN C,1200000,1295738,-1386055,NaN,NaN,6680544,11200,NaN,NaN,NaN,...,1586055,2660303,False,3942714,NaN,267102,NaN,NaN,5634343,10623258
BAY FRANKLIN R,400000,260455,-201641,NaN,frank.bay@enron.com,NaN,129142,NaN,NaN,NaN,...,NaN,69,False,145796,-82782,239671,NaN,NaN,827696,63014

In [12]:
enron_df[enron_df.index == 'PRENTICE JAMES']

,bonus,deferral_payments,deferred_income,director_fees,email_address,exercised_stock_options,expenses,from_messages,from_poi_to_this_person,from_this_person_to_poi,...,long_term_incentive,other,poi,restricted_stock,restricted_stock_deferred,salary,shared_receipt_with_poi,to_messages,total_payments,total_stock_value
PRENTICE JAMES,NaN,564348,NaN,NaN,james.prentice@enron.com,886231,NaN,NaN,NaN,NaN,...,NaN,NaN,False,208809,NaN,NaN,NaN,NaN,564348,1095040

In [13]:
enron_df[enron_df.index == 'PRENTICE JAMES'].total_stock_value

PRENTICE JAMES    1095040
Name: total_stock_value, dtype: object

email messages do we have from Wesley Colwell to persons of interest

In [17]:
enron_df[enron_df.index == 'COLWELL WESLEY'].from_this_person_to_poi

COLWELL WESLEY    11
Name: from_this_person_to_poi, dtype: object

Value of stock options exercised by Jeffrey Skilling

In [22]:
enron_df[enron_df.index.str.contains('SKILLING')].exercised_stock_options

SKILLING JEFFREY K    19250000
Name: exercised_stock_options, dtype: object

In [35]:
enron_df.total_payments.str.replace('NaN', 0, case=False)

ALLEN PHILLIP K                 NaN
BADUM JAMES P                   NaN
BANNANTINE JAMES M              NaN
BAXTER JOHN C                   NaN
BAY FRANKLIN R                  NaN
BAZELIDES PHILIP J              NaN
BECK SALLY W                    NaN
BELDEN TIMOTHY N                NaN
BELFER ROBERT                   NaN
BERBERIAN DAVID                 NaN
BERGSIEKER RICHARD P            NaN
BHATNAGAR SANJAY                NaN
BIBI PHILIPPE A                 NaN
BLACHMAN JEREMY M               NaN
BLAKE JR. NORMAN P              NaN
BOWEN JR RAYMOND M              NaN
BROWN MICHAEL                   NaN
BUCHANAN HAROLD G               NaN
BUTTS ROBERT H                  NaN
BUY RICHARD B                   NaN
CALGER CHRISTOPHER F            NaN
CARTER REBECCA C                NaN
CAUSEY RICHARD A                NaN
CHAN RONNIE                     NaN
CHRISTODOULOU DIOMEDES          NaN
CLINE KENNETH W                 NaN
COLWELL WESLEY                  NaN
CORDES WILLIAM R                NaN
COX DAVID                       NaN
CUMBERLAND MICHAEL S            NaN
                                 ..
SHANKMAN JEFFREY A              NaN
SHAPIRO RICHARD S               NaN
SHARP VICTORIA T                NaN
SHELBY REX                      NaN
SHERRICK JEFFREY B              NaN
SHERRIFF JOHN R                 NaN
SKILLING JEFFREY K              NaN
STABLER FRANK                   NaN
SULLIVAN-SHAKLOVITZ COLLEEN     NaN
SUNDE MARTIN                    NaN
TAYLOR MITCHELL S               NaN
THE TRAVEL AGENCY IN THE PARK   NaN
THORN TERENCE H                 NaN
TILNEY ELIZABETH A              NaN
TOTAL                           NaN
UMANOFF ADAM S                  NaN
URQUHART JOHN A                 NaN
WAKEHAM JOHN                    NaN
WALLS JR ROBERT H               NaN
WALTERS GARETH W                NaN
WASAFF GEORGE                   NaN
WESTFAHL RICHARD K              NaN
WHALEY DAVID A                  NaN
WHALLEY LAWRENCE G              NaN
WHITE JR THOMAS E               NaN
WINOKUR JR. HERBERT S           NaN
WODRASKA JOHN                   NaN
WROBEL BRUCE                    NaN
YEAGER F SCOTT                  NaN
YEAP SOON                       NaN
Name: total_payments, dtype: float64

In [34]:
dfna.total_payments#sort_values('total_payments')

ALLEN PHILLIP K                    4484442
BADUM JAMES P                       182466
BANNANTINE JAMES M                  916197
BAXTER JOHN C                      5634343
BAY FRANKLIN R                      827696
BAZELIDES PHILIP J                  860136
BECK SALLY W                        969068
BELDEN TIMOTHY N                   5501630
BELFER ROBERT                       102500
BERBERIAN DAVID                     228474
BERGSIEKER RICHARD P                618850
BHATNAGAR SANJAY                  15456290
BIBI PHILIPPE A                    2047593
BLACHMAN JEREMY M                  2014835
BLAKE JR. NORMAN P                    1279
BOWEN JR RAYMOND M                 2669589
BROWN MICHAEL                        49288
BUCHANAN HAROLD G                  1054637
BUTTS ROBERT H                     1271582
BUY RICHARD B                      2355702
CALGER CHRISTOPHER F               1639297
CARTER REBECCA C                    477557
CAUSEY RICHARD A                   1868758
CHAN RONNIE                            NaN
CHRISTODOULOU DIOMEDES                 NaN
CLINE KENNETH W                        NaN
COLWELL WESLEY                     1490344
CORDES WILLIAM R                       NaN
COX DAVID                          1101393
CUMBERLAND MICHAEL S                807956
                                   ...
SHANKMAN JEFFREY A                 3038702
SHAPIRO RICHARD S                  1057548
SHARP VICTORIA T                   1576511
SHELBY REX                         2003885
SHERRICK JEFFREY B                     NaN
SHERRIFF JOHN R                    4335388
SKILLING JEFFREY K                 8682716
STABLER FRANK                      1112087
SULLIVAN-SHAKLOVITZ COLLEEN         999356
SUNDE MARTIN                       1545059
TAYLOR MITCHELL S                  1092663
THE TRAVEL AGENCY IN THE PARK       362096
THORN TERENCE H                     911453
TILNEY ELIZABETH A                  399393
TOTAL                            309886585
UMANOFF ADAM S                     1130461
URQUHART JOHN A                     228656
WAKEHAM JOHN                        213071
WALLS JR ROBERT H                  1798780
WALTERS GARETH W                     87410
WASAFF GEORGE                      1034395
WESTFAHL RICHARD K                  762135
WHALEY DAVID A                         NaN
WHALLEY LAWRENCE G                 4677574
WHITE JR THOMAS E                  1934359
WINOKUR JR. HERBERT S                84992
WODRASKA JOHN                       189583
WROBEL BRUCE                           NaN
YEAGER F SCOTT                      360300
YEAP SOON                            55097
Name: total_payments, dtype: object

In [ ]:
enron_df[enron_df.total_payments=.str.contains('SKILLING')]